<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <div class="container" style="opacity: 1;">
    <div class="card">
      <div class="header">
        <h1 class="title">404</h1>
        <p class="subtitle">Page introuvable</p>
      </div>
      <button class="axe-btn" onclick="window.location.href='/'">
        <div class="btn-side-anim"></div>
        <span>Retour à l'accueil</span>
      </button>
    </div>
  </div>
</body>
</html>
